<div class="about-page">
    <div id="mainTitle">
        <h1>Despre noi</h1>
    </div>
    <p>Bine ați venit pe site-ul nostru! Suntem pasionați să ajutăm animalele să-și găsească casele pentru totdeauna.</p>
    <p>Paws Forever este o organizație non-profit care ajută animalele să-și găsească casele pentru totdeauna. Suntem în funcțiune din 2010 și am ajutat mii de animale să găsească familii iubitoare. Misiunea noastră este să oferim un mediu sigur și iubitor pentru animalele aflate în nevoie și să le ajutăm să-și găsească casele pentru totdeauna.</p>
    <p>Misiunea noastră este să punem în legătură animalele aflate în nevoie cu familii iubitoare și persoane care sunt gata să le ofere îngrijire și afecțiune.</p>
    <p>Vă mulțumim că ne-ați vizitat și că ne susțineți cauza!</p>
</div>